2<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask login page example - BLog học lập trình cùng Nguyễn Văn Hiếu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
        <input class="btn btn-success" type="submit" name="submit_button" value="Qr_Reader">
        <input class="btn btn-success" type="submit" name="submit_button" value="Otp">
        <input class="btn btn-success" type="submit" name="submit_button" value="Otp_Long">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>
</body>
</html>
