<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	  <link rel="STYLESHEET" type="text/css" href="style/fg_membersite.css" />
      <title>Vakifbank Login</title>
      
	  <!--<link rel="STYLESHEET" type="text/css" href="style/fg_membersite.css" />-->
      
	  <script src="./scripts/jquery.min.js"></script>
      
	  
</head>

<style>
body {
    background-image: url("V_Centered_1446x584.svg");
	background-repeat:no-repeat; 
    
    
}
</style>


<body>
<center>
 
<!-- <img src="vakifbankback.png" alt="Vakıfbank Logo"> Form Code Start -->
<br><br><br><br>



<div id='fg_membersite'>
<!-- <div id='fg_membersite'> -->
<!-- <form id='login' action='action.php' method='post' accept-charset='UTF-8'> -->

<form onsubmit="check(this);" method="post" id="form" autocomplete="off">

<fieldset style="background-color:red;">
<legend>RESULT</legend>
<center>

 <br> <br>
 
<input type='hidden' name='submitted' id='submitted' value='1'/>

<!--
<div class='container'>

    <label for='username' style="font-weight:bold; font-size: 20px" >Email Adresi:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type='text' name='username' id='username' value='' maxlength="100" style="height:35px; width:370px; font-size: 20px" /><br/><br>
    
</div>
-->
<div class='container'>
   <label for='password' style="font-weight:bold; font-size: 50px">FAILED</label>&nbsp;
</div>



<div class='container'>
    
<!--
	<input type='submit' name='Submit' value='GİRİŞ' style="font-weight:bold; font-size: 28px; width:240px; height:60px; color:white; background-color:RGB(59,54,52);"  />
--> 
  
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input id="jsonButton" type="hidden" style="font-weight:bold; font-size: 28px; width:240px; height:60px; color:white; background-color:RGB(59,54,52);">
	

	
	<!-- <input id="jsonButton" type="button" style="font-weight:bold; font-size: 28px; width:240px; height:60px; color:white; background-color:RGB(59,54,52);">JSON Print</button> -->
	<br>
	</div>
<div class='container' style="padding-left: 71px" align="center">
</div>
</fieldset>
</form>
<!-- client-side Form Validations:
Uses the excellent form validation script from JavaScript-coder.com-->


</div>
<!--
Form Code End (see html-form-guide.com for more info.)
-->


	
	
</body>
</html>